.head-icon{
    width: 20px;
    height: auto;
    margin-right: 0.5em;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.so-me_icon{
    width: 1.2em;
    height: auto;
    margin: .3em .5em;
}

.nav-icon {
    height: 30px;
    filter: invert(1);
    -webkit-filter: invert(1)
  }

  .bg-dark{
      background-color: #a35003 !important;
  }

  .text-unmuted{
      color: white !important;
  }
  
  .bg-custom{
      background-color: #fff5ed;
  }

  section{
      background-color: #ffe9d8 !important;
  }

  .price-color{
      color: #a35003;
  }